body {
  background-color: rgb(75, 74, 72);
  color: brown;
}

h1 {
  color: black;
  text-align: center;
  text-shadow: 22ex;
}
img {
  display: block;
  width: 300px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
